{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Crear Producto{% endblock %}
{% block header %}
    {% if user.is_authenticated %}
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="{% url 'sign_out' %}">Cerrar sesión</a>
            </div>
        </div>
    {% endif %}    
{% endblock header%}
{% block content %}
    {% if user.is_authenticated %}                          
        <form method="post" enctype="multipart/form-data">  
            {% csrf_token %}   
            <br>                 
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    {{ form.nombre_producto|add_class:"form-control" }} 
                </div>
                <div class="mb-3">
                    <label for="espesor" class="form-label">Espesor</label>
                    {{ form.espesor|add_class:"form-control" }} 
                </div>
                    <div class="mb-3">
                    {{ form.tipo| add_class:"form-check-input" }} <label for="tipo" class="form-check-label"> Lijado</label>
                </div>
                <div class="mb-3">
                    <label for="precio" class="form-label">Precio</label>
                    {{ form.precio_neto|add_class:"form-control" }} 
                </div>
                <br>            
                <button type="submit" class="btn btn-primary">Aceptar</button>
                <a href="./" type="submit" class="btn btn-primary">Cancelar</a>                   
            </form>
    {% endif %}
{% endblock content %}