{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Crear Orden{% endblock %}
{% block header %}
    {% if user.is_authenticated %}
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="{% url 'sign_out' %}">Cerrar sesión</a>
            </div>
        </div>
    {% endif %}    
{% endblock header%}
{% block content %}
    {% if user.is_authenticated %}                          
        <form method="post" enctype="multipart/form-data">  
            {% csrf_token %}   
            <br>         
            <div class="mb-3">
                <label for="codigo" class="form-label">Codigo</label>
                {{ form.codigo|add_class:"form-control" }} 
            </div>        
            <div class="mb-3">
                <label for="num_pedido" class="form-label">Número de Pedido</label>
                {{ form.n_pedido|add_class:"form-control" }} 
            </div>
            <div class="mb-3">
                <label for="fecha" class="form-label">Fecha Venta</label>
                {{ form.fecha|add_class:"form-control"| attr:"type:date" }} 
            </div>
            <div class="mb-3">
                <label for="tipo" class="form-label">Tipo de Pago</label>
                <select class="form-control" name="tipo_pago">
                    <option value="Total" selected>Total</option>
                    <option value="Abono">Abono</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="pago" class="form-label">Forma de Pago</label>
                <select class="form-control" name="forma_pago">
                    <option value="Efectivo" selected>Efectivo</option>
                    <option value="Transferencia">Transferencia</option>
                    <option value="Depositos">Depositos</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="facturacion" class="form-label">Tipo de Facturacióno</label>
                <select class="form-control" name="tipo_facturacion">
                    <option value="Guia de Despacho" selected>Guia de Despacho</option>
                    <option value="Por Facturar">Por Facturar</option>
                </select> 
            </div>
            <div class="mb-3">
                <label for="cliente" class="form-label">Cliente</label>
                {{ form.cliente|add_class:"form-select" }} 
            </div>
            <br>            
            <button type="submit" class="btn btn-primary">Aceptar</button>
            <a href="./" type="submit" class="btn btn-primary">Cancelar</a>                   
        </form>
    {% endif %}
{% endblock content %}