{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Lista Orden{% endblock %}
{% block header %}
    {% if user.is_authenticated %}
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="{% url 'sign_out' %}">Cerrar sesión</a>
            </div>
        </div>
    {% endif %}    
{% endblock header%}
{% block content %}
    {% if user.is_authenticated %}  
    <table id="tabla_detalles" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Total</th>
                <!-- <th>Acciones</th> -->
            </tr>
        </thead>
        <tbody>
        
        {% for detalle in details %}
            <tr>
                <td>{{ detalle.producto }}</td>
                <td>{{ detalle.cantidad }}</td>
                <td>{{ detalle.total_detalle }}</td>
                <td>                   
                    <form method="POST" action="eliminar/{{detalle.id_detalle}}">
                    {% csrf_token %}
                    <!-- <div class="btn-group">                   
                        <a href="editar/{{detalle.id_detalle}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                        <button class="btn btn-danger" onclick="return eliminar('{{detalle.producto}}');" type="submit">
                            Eliminar
                        </button>
                    </div> -->
                    </form>                   
                </td>
            </tr>
            <input type="number" name="id_orden" id="id_orden" value="{{ detalle.orden_venta }}" hidden>
        {% endfor %}            
        </tbody>
    </table> 
    <!-- Botón para volver a la vista principal (Home) -->
    <a id="volver" href="{% url 'leer_ot' %}" type="submit" class="btn btn-info">Volver</a>
    <!-- <a id="Finalizar" href="{% url 'crear_factura' %}" type="submit" class="btn btn-dark">---Finalizar---</a> -->

    <script type="text/javascript">
        function eliminar(nombre) {
          var x = confirm("Eliminar Producto " + " ?");
          if (x)
            return true;
          else
            return false;
        }
    </script>    
    <br>
    <form method="post" enctype="multipart/form-data">  
        {% csrf_token %}
            <div class="mb-3">
                <label for="producto" class="form-label">Producto</label>
                {{ form.producto|add_class:"form-select" }} 
            </div>
            <div class="mb-3">
                <label for="cantidad" class="form-label">Cantidad</label>
                {{ form.cantidad|add_class:"form-control" }} 
            </div>
            <br>
            <button id="btnCrear" name="btnCrear" type="submit" class="btn btn-success">Agregar Productos</button>

            <input type="number" value="0" name="id_orden_compra" id="id_orden_compra" hidden>
            <button id="btnFinalizar" name="btnFinalizar" type="submit" class="btn btn-dark">Finalizar</button>
        </div>
    </form>
    <!-- Botón para volver a la vista principal (Home) -->
    <a id="volver" href="{% url 'leer_ot' %}" type="submit" class="btn btn-primary">Volver</a>
    <a id="Finalizar" href="{% url 'leer_ot' %}" type="submit" class="btn btn-danger">Finalizar</a>

    <!-- <a href="crear/{{object.id_compra}}" type="submit" class="btn btn-success">Agregar Productos</a> -->

    <!-- <a id="btn_add"  role="button" class="btn btn-success"><span class="btn-label"><i class="fa fa-plus"></i></span>Agregar +</a> 
    <a id="btn_volver" href="" type="submit" class="btn btn-primary">Volver</a> -->

    <!-- <div class="card-body table-responsive">
        <table id="tablad" class="table table-bordered table-hover">
            <thead>
                <tr>            
                    <th>Producto</th>    
                    <th>Cantidad</th>    
                    <th >Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div> -->

    <!-- <a id="btn_save" role="button" href="" class="btn btn-info">Guardar</a>  -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- <script type="text/javascript">
        $('#btn_add').hide();
        $('#tablad').hide();
        $('#datos').hide();
        $('#btn_volver').hide();
        $('#btn_save').hide();

        $('#agregarProductos').click(function(){
            $('#btn_add').show();
            $('#tablad').show();
            $('#datos').show();
            $('#btn_volver').show();
            $('#btn_save').show();
            $('#tabla_detalles').hide();
            $('#volver').hide();
            $('#agregarProductos').hide();
        });

        $('#btn_volver').click(function(){
            $('#btn_add').hide();
            $('#tablad').hide();
            $('#datos').hide();
            $('#btn_volver').hide();
            $('#tabla_detalles').show();
            $('#volver').show();
            $('#agregarProductos').show();
        });
        
        var lista_productos = new Array;
        $('#btn_add').click(function(){        
            const producto = $('#producto option:selected').val();
            const nombre_producto = $('#producto option:selected').text();
            const cantidad = $('#txt_cantidad').val();
            const o_venta = $('#id_orden').val();
            var length = lista_productos.length;
            var id_array = (length > 0) ? lista_productos[lista_productos.length - 1].id_array +1 : 1; 
            console.log('largo: '+length);
            console.log(id_array);
            if (nombre_producto == "Seleccionar"){
                alert("Debe Ingresar un producto ");
            }else if (cantidad == "" || cantidad == 0){
                alert("Debe Ingresar una cantidad > 0 ");
            }else{
                item = {
                    id_array : id_array,
                    producto : producto,
                    cantidad : cantidad,
                    orden_venta : o_venta 
                };  
                lista_productos.push(item);
                console.log("lista"+ JSON.stringify(lista_productos) );
                $('#tablad').append('<tr id="'+id_array+'"><td>'+nombre_producto+'</td><td>'+cantidad+'</td><td><Button type="button" class="btn btn-danger" onclick="eleiminarItem('+id_array+')" >Eliminar</button></td></tr>');
                $('#txt_cantidad').val('');
                $("#producto").val(0).change();
            }        
        });
        function eleiminarItem(id){
            var helper = {
                removeOne: function(array, predicate) {
                    for (var i = 0; i < array.length; i++) {
                        if (predicate(array[i])) {
                            return array.splice(i, 1);
                        }
                    }
                },
                remove: function(array, predicate) {
                    var removed = [];
                    for (var i = 0; i < array.length;) {
                        if (predicate(array[i])) {
                            removed.push(array.splice(i, 1));
                            continue;
                        }
                        i++;
                    }
                    return removed;
                }
            };
            var removed = helper.removeOne(lista_productos, row => row.id_array === id);
            $('#tablad').find('tr[id="'+id+'"]').remove();              
        }
    </script> -->
    {% endif %}
{% endblock content %}