{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block title %}Lista Productos{% endblock %}
{% block header %}
    {% if user.is_authenticated %}
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="{% url 'sign_out' %}">Cerrar sesión</a>
            </div>
        </div>
    {% endif %}    
{% endblock header%}
{% block content %}
    {% if user.is_authenticated %} 
    <br>                         
        <table id="tabla" class="table table-striped table-hover">
            <thead>
                <tr>
                <th>Nombre</th>
                <th>Espesor</th>
                <th>Tipo</th>
                <th>Precio Neto</th>
                <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            
            {% for producto in object_list %}
                <tr>
                <td>{{ producto.nombre_producto }}</td>
                <td>{{ producto.espesor }}</td>
                {% if producto.tipo == True %}
                <td>Lijado</td>   
                {% else %} 
                <td>No Lijado</td>
                {% endif %}
                <td>${{ producto.precio_neto|intcomma }}</td>
                <td>                   
                    <form method="POST" action="eliminar/{{producto.id_producto}}">
                    {% csrf_token %}
                    <div class="btn-group">                   
                        <a href="editar/{{producto.id_producto}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                        <button class="btn btn-danger" onclick="return eliminar('{{producto.nombre_producto}} {{producto.espesor}}');" type="submit">
                        Eliminar
                        </button>
                    </div>
                    </form>                   
                </td>
                </tr>
            {% endfor %}            
            </tbody>
        </table> 
        <script type="text/javascript">
            function eliminar(nombre) {
              var x = confirm("Eliminar Producto " + nombre + " mm?");
              if (x)
                return true;
              else
                return false;
            }
        </script>
    {% endif %}
{% endblock content %}
{% block js %}
<script>
$(document).ready(function() 
{   
    var table = $('#tabla').DataTable( {
        "language": {
            url: "/static/localizacion/es_ES.json"
        }
    } );
  
    $('#tabla tbody').on( 'click', 'tr', function() 
    {
        if ($(this).hasClass('selected') ) 
        {           
            $(this).removeClass('selected');
             
        }
        else 
        {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');                      
        }
    });        
});
</script>
{% endblock js %}