{% load static %}
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="descripción" content="Plantilla de administración de las ordenes de compra">
        <meta name="author" content="Juan Andrés Espinoza Monsalve">
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
        <!-- Bootstrap core CSS -->
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css">
        <!-- Custom styles for this template -->
        <link href="{% static 'dashboard.css' %}" rel="stylesheet">
        <link href="{% static 'sidebars.css' %}" rel="stylesheet">
    </head>
    <body >        
        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Administración SSGM</a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>  
            {% block header %}

            {% endblock %}
        </header>
        <div class="container-fluid">
            <div class="col-md-3 col-lg-2">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="position-sticky pt-3">
                        <ul class="nav flex-column">
                            <li class="nav_item">
                                <button class="btn align-items-center rounded">
                                    <span data-feather="user"></span>
                                    <a href="">Hola {{ user.username }}</a> 
                                    <br>
                                </button>
                            </li>
                            <br>
                            <li class="nav-item">
                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                                    <span data-feather="archive"></span>
                                    Orden de Venta
                                </button>
                                <div class="collapse" id="orders-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li><a href="{% url 'crear_ot' %}" class="link-dark rounded">Ingresar</a></li>
                                        <li><a href="{% url 'leer_ot' %}" class="link-dark rounded">Listar</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                                    <span data-feather="shopping-cart"></span>
                                    Productos
                                </button>
                                <div class="collapse" id="dashboard-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li><a href="{% url 'crear_producto' %}" class="link-dark rounded">Ingresar</a></li>
                                        <li><a href="{% url 'leer_producto' %}" class="link-dark rounded">Listar</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                                    <span data-feather="users"></span>
                                    Clientes
                                </button>
                                <div class="collapse" id="account-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li><a href="{% url 'crear_cliente' %}" class="link-dark rounded">Ingresar</a></li>
                                        <li><a href="{% url 'leer_cliente' %}" class="link-dark rounded">Listar</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-9 ms-sm-auto col-lg-10">
                {% if messages %}
                    <ul class="messages list-group mb-3">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
        {% block content %}
            
        {% endblock content %} 
            </div>
        </div>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
        <script src="{% static 'dashboard.js' %}"></script>  
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>

        <script src="{% static 'comunaRegion.js' %}"></script>

    </body>
</html>
